body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .money-bag{
    height: 110vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-size: 50%;
    width:60%;
    text-align: center;
  }

  .landingIntro-h1{
    margin-bottom:130px;
    margin-left: 90px;
    position: relative;
  }
  
  h5{
   line-height: 80px;
   width: 80%;
   margin-left: 50px;
  }

  h5{
      color: rgb(22, 80, 22);
      margin-right:100px;
  }

  h1{
      color: rgb(32, 46, 6)
  }

  #joinMe-btn{
    margin-right:100px;
  }

 .flex-signUpLanding{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQNmkl8Sskj_GY0ZM1Kf14E1wV_9EI4Xck0GexX--q1tZ289Wgs");
  background-size: 50% auto;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}






/* responsiveness */

@media only screen and (min-width:765px) {
  /* For tablets: */

h5,p{
  display: block ;
}

.money-bag{
  height: 110vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-size: 50%;
  text-align: center;
}

.flex-signUpLanding{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQNmkl8Sskj_GY0ZM1Kf14E1wV_9EI4Xck0GexX--q1tZ289Wgs");
  background-size: 50% auto;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h5{
width: 70%;
margin-left: 20px;
display: inline-block;
}

#joinMe-btn{
  margin-right:60px;
}

}


@media only screen and (max-width:500px) {
  /* For mobile phones: */

  h5, #landing-intro{
    margin-right: 10px;
    margin-left: 5px;
  }
} 
